// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$dark-gray: #434343;
$gray: #666666;
$light-gray: #F4F4F4;
$dark-blue: #041030;
$fun-yellow: #FECC33;
$black-kaki: #133800;
$gray-kaki: #304933;
$noodle: #ffeba5;
$sasha-yellow: #FECB45;
$red-btn:#FF0000;
$yellow-btn:#FFFF00;
$green-btn:#00FF00;
$clear-blue-btn:#00FFFF;
$blue-btn:#0000FF;
$pink-btn:#FF00FF;

