// .poll-container {
//   border: 1px solid #dce0e0;
//   padding: 0 20px;
//   margin: 0;
// }

.poll-main {
  display: flex;
  align-items: center;
  padding: 20px;
  transition: all 0.15s ease;
  margin: 5px;
  min-width: 300px;
}


/* Body design */
.poll-description {
  // display: flex;
  max-width: 30%;
  padding-top: 15px;

}

.poll-description {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  padding-bottom: 15px;

}
.poll-description p {
  font-weight: lighter;
  color: #999999;
  margin-bottom: 0;
}

.poll-title {

    overflow: hidden;

    overflow-x: scroll;
  position: absolute;
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);


}

/* poll media */
.poll-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  width: 175px;
  height: 100px;
  background-size: cover !important;
  background-position: center;
}

// .photo-box-profile {
//   display:flex;
//   align-items: center;
//   justify-content: center;

//   margin-right: 0px;
//   height: 50px;
//   width: 50px !important;
//   background-image: center;
//   background-size: cover !important;
//   margin: 0px;
//   opacity: 1;
//   flex: 0 0 30%;
//   text-align: center;
//   background-color: black;
//   h3 {
//     color: white !important;
//   }

.poll-media-default {
  margin-right: 20px;
  width: 175px;
}

/* Upvote design */
.poll-upvote {
  padding-right: 20px;
  text-align: center;
  transition: all 0.15s ease;
  font-weight: bold;
  font-size: 13px;
  line-height: 20px;
}
.poll-count {
  margin: 2px 0 0;
}
.poll-arrow {
  transition: all 0.15s ease;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid transparent;
  border-bottom: 9px solid black;
  border-radius: 2px;
  margin: auto;
}

/* Controls design */
.poll-controls {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0px;
}
.poll-controls a {
  padding: 0 20px;
  font-size: 17px;
  color: #E6E6E6;
}
.poll-controls a:hover {
  color: #D3473C !important
}
.poll-controls-hidden a {
  color: transparent;
  font-size: 15px;
  transition: all 0.15s ease;
  border-color: transparent;
}

/* Hover effects */
.poll:hover {
  background: #f7f7fa;
  cursor: pointer;
}
.poll-upvote:hover, .poll-upvote.poll-upvote-upvoted {
  color: #5898f1;
  cursor: pointer;
}
.poll-upvote-upvoted .poll-arrow {
  border-bottom-color: #5898f1;
}
.poll:hover .poll-upvote {
  transform: scale(1.2)
}
.poll:hover .poll-controls-hidden a {
  color: #E6E6E6;
}
.poll-upvote:hover .poll-arrow {
  border-bottom: 9px solid #5898f1;
}

// Styling  //

.borde-around-poll {
  border: 2px solid $dark-gray;
}

.poll-main.bg {
  background-color: white;
}








// From _form_propositions.scss //

.index-prop-box {
      display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid black;

}

.index-name-box {
  width: 100%;
  height: auto;

   // border-top: 0.8px solid black;

}
.index-photo-box{
  height: auto;
   // border-top: 2px solid black;
}

.index-photo-box-profile {
    display:flex;
  align-items: center;
  justify-content: center;

  margin-right: 0px;
  height: 50px;
  width: 50px !important;
  background-image: center;
  background-size: cover !important;
  margin: 0px;
  opacity: 1;
  flex: 0 0 30%;
  text-align: center;
  background-color: black;
  h3 {
    color: white !important;
  }

}

.index-created-photo{

  display:flex;
  align-items: center;
  justify-content: center;

  margin-right: 0px;
  height: 100px;
  width: 100px !important;
  background-image: center;
  background-size: cover !important;
  margin: 0px;
  opacity: 1;
  flex: 0 0 30%;
  text-align: center;




}

.index-created-name {
min-height: 100px;

p {
    overflow: hidden;
max-width: 190px;
    overflow-x: scroll;
}

  display:flex;
  align-items: center;
  justify-content: center;
background-color: white;
 // border: 0.5px solid $dark-gray;
 text-align: center;
 // border-bottom: 1px solid black;

}
// TO PLAY WITH THE ATTACHINARY BOXES
.index-photo-box .form-group {
  margin: 0;
  // position: relative;
}

// .photo-box label {
//   position:absolute;
// }

// .attachinary-container {
//   z-index: 10;
//   position: absolute;
//   display:none;
// }

.index-photo-box .control-label{
  margin:0;
}
.index-photo-box ul {
  margin:0;
}

.index-photo-box a {
  display:none;
}




