.flex-box-column {
   display: flex;
    flex-direction: column;
  justify-content: space-around;
}




.poll-container {
  margin-left: 8px !important;
  margin-top: 13px !important;
  margin-right: 8px !important;
  // border: 1px solid black;
}

.poll-wrapper {
  border: 2px solid black;
  background-color: white;
  // margin-top:15vh;
  // margin-bottom:55vh;
      width: 345px;
  // display: flex;
  // flex-direction: column;
}
.poll-profile {
   display: flex;
  justify-content: space-around;
}

.poll-profile-left {
   // display: flex;

  //  flex-direction: column;
  // justify-content: space-around;

}

.poll-profile-right {
  flex-direction: column;
  justify-content: space-around;
}

.profile-avatar {
   display: flex;
  justify-content: center;
  text-align: center;
}

.top-back {
  text-align: center;
  margin-bottom: 4%;
  margin-top: 6%;
  a:hover{
    cursor:pointer;
  }
}

.poll-header {
  display: flex;
  flex-direction: column;
  h1 {

    margin: 10%;
  }
}

.poll-header div {
  height: 50px;

}

// Style class



.margin-20 {
  margin: 20px;

}



.borde-r {
  border-right: 2px solid black;
}

.borde-t {
  border-top: 2px solid black;
}

.borde-b {
  border-bottom: 2px solid black;
}

.borde-l {
  border-left: 2px solid black;
}

.borde-fino {
  border-width: 1px;
}


.margin-30 {
      margin-bottom: 30px;
}

.margin-tb {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}


.margin-fluid {
  margin-left: 6px;
  margin-right: 6px;
}

.margin-b-small {
    margin-bottom: 20px;
}

.margin-t-small {
    margin-top: 10px;
}

.padding-top-general {
  padding-top: 6rem;
}

.background-blanco {
    background-color: #fff;
}

.margin-n {
margin:0px;
}

.padding-n {
  padding:0px !important;
}

.padding-b {
padding-bottom: 10px;
}
.background-gif {
  background-image: url("https://media.giphy.com/media/4RduUxmi6IMmI/giphy.gif");
  width: 100%;
  height: auto;
  background-size: cover !important;

}










// details class pages


.info-poll {
  margin-top: 4.5%;
  // max-width: 300px;
  border: 2px solid black;
}


.modulo-nav {
  // border: 3px solid $dark-gray;
  height: 4rem;
  border: 2px solid black;
}


.padding-module {
  padding: 0 12px;
}



.entry-title {
  // margin: 5rem 0 5rem;
  font-size: 2em;
      margin: 5rem 0 5rem;
    font-size: 2em;
    overflow: hidden;
    overflow-x: scroll;
}

.info-details .title {
  font-size: 100%;
}

.info-details {
  // margin-bottom: 10rem;

}
 .profile-details {
  margin: 0px;
  // F
}
.profile-description {
  margin: 15px;
  height: 120px;
}

.profile-description .text {
  width: 100%;
  height: 150px;
  overflow: hidden;


}



.profile-avatar {
  width: 100%;
  height: 100%;
}


.profil-avatar.margin-tb  {

  margin-top: 3rem;
  margin-bottom: 3rem;

}

.show-prop {
  margin: 0px;
  border: 0px;
}



// construction class


.container-fluid {
 margin-right: auto;
 margin-left: auto;
 padding-left: 0px;
 padding-right: 0px;
 padding-top: 14px;
}

.col-xs-4 {
  width: 50%;
  padding: 0px;

}



// .col-md-6 .col-xs-3 .col-xs-5{
//     position: relative;
//     min-height: 1px;
//   padding-left: 6px;
//  padding-right: 6px;
// }



// .col-xs-12 {
//       position: relative;
//     min-height: 1px;
//     padding-left: 15px;
//     padding-right: 15px;
// }

// .row {
//     margin-left: -6px;
//     margin-right: -6px;
// }


// see if it works with all the flex-box

.flex-box {
 display: flex;
 align-items: center;
 justify-content: center;
}

.parent-center {
  position: relative;
}

.child-center {
  position: absolute;
  top: 50%;
  transform: translate(0,-50%);
  width: 100%;
}

.parent-bottom {
  position: relative;
}

.child-bottom {
  position: absolute;
  top: 50%;
}


.pull-left {
  float: left!important;
}

.pull-right {
  float: right!important;
}



// Style class


.checkbox-update-poll {
  display: flex;
  justify-content: space-around;
  margin: 15px 0px;
  .active-checkbox {
    background-color:$green !important;
    color: black !important;
  }
  .no-cursor {
    cursor: default;
  }
}

