

<div class="btn-blue-logo">
  <span class="btn-square">
    <span class="btn__inner">  <%= link_to root_path, class: "btn-blue-logo" do %>
      <%= image_tag "Boolrank-blue.png" %>
      <!-- <%= image_tag "Boolrank.png" %> -->
      <% end %></span>
    </span>
  </div>



<div class="btn-dropdown">
    <span class="btn-square">
      <span class="btn__inner">
        <div class="navbar-wagon-item hidden-md hidden-lg">
         <%#= yield(:navbar_link) %>
         <div class="dropdown">
          <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><a href="#">Some mobile link</a></li>
            <li><a href="#">Other one</a></li>
            <li><a href="#">Other one</a></li>
          </ul>
        </div>
      </div>
    </span>
  </span>
</div>


