<div class="banner">
  <div class="banner-content">
    <div>
      <%= image_tag "Boolrank-white.png", class: "logo-front-page" %>
    </div>
    <h1>Create a NoodlePoll</h1>
    <p>Let the BoolMan Choose for you</p>
    <%= simple_form_for(@poll, url: polls_path, method: 'post') do |f| %>
      <%= f.input :title, placeholder: "What is your dilemma?", label: false %>
      <!-- QUESTION?? WHERE CAN I EDIT THE PLACEHOLDER OF THE BUTTON?????-->
      <%= f.button :submit, class: "btn-medium", id: "home-button" %>
    <% end %>
  </div>
</div>

<!-- Target -->
<textarea id="bar">Mussum ipsum cacilds...</textarea>

<!-- Trigger -->
<button class="clipboard-btn" data-clipboard-action="copy" data-clipboard-target="#bar">
    Copy to clipboard
</button>


<script>
  // const button = document.getElementById("home-btn")
  // button.addEventListener('click', (e) => {
  //   if (button.innerText == "") {
  //     e.preventDefault;
  //     button.addClass('red-border');
  //     button.addLabel("cant be blank");
  //   }
  // });

</script>
