


    <form novalidate="novalidate" class="simple_form edit_poll" id="edit_poll_39" action="/polls/39" accept-charset="UTF-8" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" />
    <input type="hidden" name="_method" value="patch" />
    <input type="hidden" name="authenticity_token" value="ht2rkDIoNQ6zFxejZxekmbO9xo2m0Yrsrtc1RHOKX8uLWIi9fMLC5rVWMm/ioKPd8AanD5QBd68/MzSpnxwcRA==" />
    <div class="form-group string required poll_title">
      <label class="control-label string required" for="poll_title"></label>
    <input class="form-control string required" placeholder="Title" type="text" value="frefr" name="poll[title]" id="poll_title" />
  </div>
    <input placeholder="Give a small description (optional)" type="hidden" name="poll[description]" id="poll_description" />
    <input value="true" type="hidden" name="poll[status]" id="poll_status" />
    <input type="submit" name="commit" value="Update Poll Name" class="btn grey-btn" data-disable-with="Update Poll" />
</form>


