  <div class="modal fade modal-custom" id="share-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h3 class="modal-title">Share Poll!</h3>
        </div>
        <!-- <div class="row"> -->
          <!-- <div class="col-xs-12 col-sm-6 col-sm-offset-3"> -->
            <ul class="list-group">
              <li class="share-style">
                <div
                class="fb-like"
                data-share="true"
                data-width="450"
                data-show-faces="true">
              </div>
              <!-- <div id="shareBtn" class="btn btn-success clearfix">Share</div> -->
              <!-- <i class="fa fa-facebook" aria-hidden="true"></i><span>Facebook</span> -->
            </li>
            <li class="share-style">
              <i class="fa fa-twitter" aria-hidden="true"></i><span>Twitter</span>
            </li>
            <li class="share-style">
              <i class="fa fa-google" aria-hidden="true"></i><span>Google</span>
            </li>
            <li class="share-style">
              <i class="fa fa-envelope" aria-hidden="true"></i><span>Email</span>
            </li>
            <li class="share-style">
              <i class="fa fa-link" aria-hidden="true"></i><span>Copy Link</span>
            </li>
          </ul>
          <!-- </div> -->
          <!-- </div> -->
        </div>

       <!--  <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>
    </div>

    <!-- ---------------------FB SHARE LIKE TEST ------------------------- -->
   <!--  <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1156307394501135',
          xfbml      : true,
          version    : 'v2.11'
        });
        FB.AppEvents.logPageView();
      };

      (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "https://connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
   </script>

   <script>
    document.getElementById('shareBtn').onclick = function() {
      FB.ui({
        method: 'share',
        display: 'popup',
        href: 'https://developers.facebook.com/docs/',
      }, function(response){});
    }
  </script> -->

  <!-- ----------------- SECONDARY FB SHARE LIKE TEST ---------------- -->

  <%#link_to 'Share on Facebook', "https://www.facebook.com/dialog/share?
  app_id=xxxxxxxxxxxxxx&href=#{request.original_url}&redirect_uri=#{request.original_url}" %>

  <!-- ----------------- TEST LIST FOR SHARE MODAL ---------------- -->

<!-- <ul class="list-group">
  <li class="list-group-item">Cras justo odio</li>
  <li class="list-group-item">Dapibus ac facilisis in</li>
  <li class="list-group-item">Morbi leo risus</li>
  <li class="list-group-item">Porta ac consectetur ac</li>
  <li class="list-group-item">Vestibulum at eros</li>
</ul>
-->
