<div class="container">
  <h1 class="text-center">All Polls</h1>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <% @polls.each do |poll| %>
      <div class="poll-main">
        <%= image_tag "Bear.jpg", :class => "poll-image" %>
        <div class="poll-body">
          <h3><%= poll.title %></h3>
          <p><%= poll.description %></p>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
         <%= link_to "View Poll", poll_path(poll), :class => "btn btn-default" %>
        </ul>
      </div>
  <% end %>
    </div>
  </div>
</div>








