<h1>Polls#index</h1>
<p>Find me in app/views/polls/index.html.erb</p>







<!-- ____________ for each indexed poll __________ -->
  <div>
   <button type="button" class="btn btn-default btn-pair" data-toggle="modal" data-target="#share-res">Share Results</button>
  </div>



<%= render "polls/share_results" %>
