<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="form-new-poll">
      <h1 class="text-center">New Poll</h1>
      <%= render 'form_new_poll' %>
    </div>
    </div>
  </div>
</div>
