
<div class="container">
  <h1  class="text1 text-center">      <%= @propositions.first.name %></h1>
  <div class="prop-1">


      <div class="best-prop" style=" background-image: url('<%= image_path  @propositions.first.photo  %>')"></div>
  <div class="text">
      <ul>
        <li><p>Description:   <%= @propositions.first.description %></p></li>
        <li><h3>Score: <%= @propositions.first.score %></h3></li>
      </ul>
    </div>


  </div>



</div>
