  <div class="banner">
    <div class="container text-center">
      <%= link_to 'Start Poll', compare_poll_path(@poll), :class => "btn btn-medium" %>

      <button type="button" class="btn btn-medium" data-toggle="modal" data-target="#share-modal">
        Share Poll!
      </button>
    </div>
  </div>
      <%= render "polls/share_poll" %>




  <%#= render "poll-start" %>

  <!-- if minimum 1 poll is finished ==> if end poll >= 1 / click btn end poll event listener-->
