.banner {
  color: white;
  text-align: center;
  height: 40vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */

  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: $fun-yellow;
  // background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  // background: linear-gradient(141deg, #e5fffc 0%, #c4e5ff 41%, #d3ddff 75%);
  background-size: cover !important;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.banner h1 {
  color: Black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  margin: 10px;
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: black;
  opacity: 0.6;
  margin-bottom: 30px;
}

.banner-content {
  justify-content: center;
  align-items: center;
  .sexy-line {
    height: 2px;
    background-color: white;
    margin-bottom: 10%;
    margin-bottom: 10%;
    margin-top: 10%;
  }
}

#image-and-magic-ball {
  position:relative;
}
// #image-and-magic-ball:hover {
//   cursor: pointer;
// }

#magic_8_ball {
  font-size:8px;
  color:black;
  position: absolute;
  top: 55%;
  left: 61%;
}
