.btn-medium {
  color: white;
  padding: 10px 15px;
  border-radius: 50px;
  background-color: #231F20;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.gray-btn {

width: 100%;
text-align: center;
    font-size: 1.3rem;
    background-color: $gray;
    border: 0.5px solid $gray;
    transition: background .33333s, transform 2s;
    color: $gray;



     a:hover {


        font-size: 1.6rem;
    line-height: 2.1;

    }

}

.white-btn-funny {

    float: left;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 10px;
    font-size: 1.3rem;
    background-color: #fff;
    border: 2px solid #041030;
    transition: background .33333s;

    a {
        font-size: 1.6rem;
    line-height: 2.1;

    }

}

/* Build your own button classes ! */
