.btn__inner {
  border: 2px solid black;
  height: 20px;
width: 20px;

}

.btn-square .btn__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 40px;
}


.btn-pink-share .btn__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    width: 20px;
    height: 20px;
    line-height: 40px;
}


.btn-red-propositions {
  position: fixed;
    right: 2%;
    bottom: 2%;
    color: black;
    background-color: $red;
    z-index: 10000;


}

.btn-green-participants {
  position: fixed;
    left: 2%;
    bottom: 2%;
    color: black;
    background-color: $purple;
    z-index: 10000;



}

.btn-pink-share {
  position: fixed;
    bottom:10%;
    left: 2%;
    color: black;
    background-color: $pink;
    z-index: 10000;


}



.btn-blue-logo {


  position: fixed;
    top:2%;
    left: 2%;
    color: black;
    z-index: 10000;
    background-color: $green;
    img {
      width: 35px;
       height: 35px;
    }

}

.btn-dropdown {
  position: fixed;
    top:2%;
    right: 2%;
    color: black;
    background-color: $yellow;
    z-index: 10000;

}




// .btn-top {
//   position: fixed;
//     right: 50%;
//     top: 0;
// }

// .btn-bottom {
//   position: fixed;
//     right: 50%;
//     top: 85%;
// }

// .btn-square {
//  height: 20px;
// width: 20px;

// }

