.btn-pink-propositions {
  position: fixed;
    right: 2%;
    bottom: 2%;
    color: black;
    background-color: $red-btn;
    z-index: 10000;


}

.btn-green-participants {
  position: fixed;
    right: 2%;
    top: 2%;
    color: black;
    background-color: $green-btn;
    z-index: 10000;



}

.btn-yellow-share {
  position: fixed;
    bottom:2%;
    left: 2%;
    color: black;
    background-color: $pink-btn;
    z-index: 10000;

}

.btn-blue-logo {
  position: fixed;
    top:2%;
    left: 2%;
    color: black;
    z-index: 10000;
    img {
       height: 40px;
    }

}

.btn-dropdown {
  position: fixed;
    top:2%;
    right: 2%;
    color: black;
    background-color: $yellow-btn;
    z-index: 10000;

}




// .btn-top {
//   position: fixed;
//     right: 50%;
//     top: 0;
// }

// .btn-bottom {
//   position: fixed;
//     right: 50%;
//     top: 85%;
// }

.btn-square {
 height: 20px;
width: 20px;

}

.btn__inner {
  border: 2px solid black;
  height: 20px;
width: 20px;

}


.btn-square .btn__inner {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
}
