

.flex-box-2 {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}


.add-prop {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content:center;


  background-color: white;
  margin-top: 50px;




}

.add-prop-2 {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content:center;


  background-color: white;
  margin-top: 50px;
  border-top: 3px solid $dark-gray;



}

input[type="file"].attachinary-input {
  display: none;
}

.control-label.attachinary{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-right: 0px;
  height: 70px;
  width: 70px;
  background: $gray;
  padding: 0px;

  opacity: 1;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 0.6;

    cursor: pointer;
  }
  &:active {
  background: $brand-primary;
  color: white;
  opacity: 1;
  }
  color: white;
}

.name-box {
  width: 100%;
  height: auto;

}
.photo-box{
  height: auto;
}

.proposition_photo.control-label.attachinary {
  display: none;

}

.created-photo{

  display:flex;
  align-items: center;
  justify-content: center;

  margin-right: 0px;
  height: 70px;
  width: 70px !important;
  background-image: center;
  background-size: cover !important;

  padding: 0px;
  padding-left: 10px;
  opacity: 1;
  flex: 0 0 30%;
  text-align: center;



}

.created-name {
  display:flex;
  align-items: center;
  justify-content: center;
background-color: white;

 height: 70px;
 border: 0.5px solid $dark-gray;
 text-align: center;

}
// TO PLAY WITH THE ATTACHINARY BOXES
.photo-box .form-group {
  margin: 0;
  // position: relative;
}

// .photo-box label {
//   position:absolute;
// }

// .attachinary-container {
//   z-index: 10;
//   position: absolute;
//   display:none;
// }

.photo-box .control-label{
  margin:0;
}
.photo-box ul {
  margin:0;
}

.photo-box a {
  display:none;
}




