

.flex-box-2 {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}


.add-prop {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content:center;


  background-color: white;
  // margin-top: 5px;




}

.add-prop-2 {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content:center;


  background-color: white;
  // margin-top: 5px;
  // border-top: 3px solid $dark-gray;



}

input[type="file"].attachinary-input {
  display: none;
}

.control-label.attachinary{
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  margin-right: 0px;
  height: 70px;
  width: 70px;
  // background: $gray;
  padding: 0px;

  opacity: 1;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 0.6;

    cursor: pointer;
  }
  &:active {
  background: $brand-primary;
  color: white;
  opacity: 1;
  }
  // border: 2px solid black;
  color: black;
}

.name-box {
  width: 100%;
  height: auto;
   // border-top: 0.8px solid black;

}
.photo-box{
  height: auto;
   // border-top: 2px solid black;
}

.photo-box-profile {
    display:flex;
  align-items: center;
  justify-content: center;

  margin-right: 0px;
  height: 50px;
  width: 50px !important;
  background-image: center;
  background-size: cover !important;
  margin: 0px;
  opacity: 1;
  flex: 0 0 30%;
  text-align: center;
  background-color: black;
  h3 {
    color: white !important;
  }



}


.proposition_photo.control-label.attachinary {
  display: none;

}

.created-photo{

  display:flex;
  align-items: center;
  justify-content: center;

  margin-right: 0px;
  height: 100px;
  width: 100px !important;
  background-image: center;
  background-size: cover !important;
  margin: 0px;
  opacity: 1;
  flex: 0 0 30%;
  text-align: center;




}

.created-name {
min-height: 100px;
    overflow: hidden;

    overflow-x: scroll;
  display:flex;
  align-items: center;
  justify-content: center;
background-color: white;
 // border: 0.5px solid $dark-gray;
 text-align: center;
 // border-bottom: 1px solid black;

}
// TO PLAY WITH THE ATTACHINARY BOXES
.photo-box .form-group {
  margin: 0;
  // position: relative;
}

// .photo-box label {
//   position:absolute;
// }

// .attachinary-container {
//   z-index: 10;
//   position: absolute;
//   display:none;
// }

.photo-box .control-label{
  margin:0;
}
.photo-box ul {
  margin:0;
}

.photo-box a {
  display:none;
}






.created-part-name {
min-height: 50px;

    overflow: hidden;

    overflow-x: scroll;
  display:flex;
  align-items: center;
  justify-content: center;
background-color: white;
 // border: 0.5px solid $dark-gray;
 text-align: center;
 // border-bottom: 1px solid black;

}

.created-part-photo{

  display:flex;
  align-items: center;
  justify-content: center;

  margin-right: 0px;
  height: 50px;
  width: 50px !important;
  background-image: center;
  background-size: cover !important;
  margin: 0px;
  opacity: 1;
  flex: 0 0 30%;
  text-align: center;

}


